.DS_Store
.tags
dist

*/debug
vendor
*.cover
Gopkg.lock
cmd/rego/rego

*.cov
artifacts
/scripts/codecov

for p in *.spec ; do
    data=$(cat $p)
    $GOPATH/bin/yq r <(cat $p) > $p.json
    mv $p.json $p
done;
