.DS_Store
.tags
dist

*/debug
vendor
*.cover
coverage.xml
Gopkg.lock
cmd/rego/rego

unit_coverage.out
artifacts

for p in *.spec ; do
    data=$(cat $p)
    $GOPATH/bin/yq r <(cat $p) > $p.json
    mv $p.json $p
done;
